DATABASE_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXTAUTH_SECRET=
COLLEGE_EMAIL_DOMAINS=
CLASS_PULSE_DEFAULT_PASSWORD=changeme123
GOOGLE_SA_EMAIL=
GOOGLE_SA_PRIVATE_KEY=
